[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
evasdk = "*"
opencv-python = "*"
opencv-contrib-python = "*"
numpy = "*"
imutils = "*"
apriltag = "*"

[dev-packages]

[requires]
python_version = "3.6"